@import "../../../css/font-awesome.min.css";
@import "../../../css/bootstrap.min.css"
@import "../../../css/style-dashboard.css";
@import "../../../css/jquery-ui.min.css";
@import "../../../css/jquery-ui.structure.min.css";
@import "../../../css/jquery-ui.theme.min.css";
@import "../../node_modules/jquery-confirm/css/jquery-confirm.css";

table
	overflow-y: hidden
table tr
	cursor pointer

input:invalid
	border-color red

.loader {
	color: #360505;
	font-size: 20px;
	margin: 200px auto;
	width: 1em;
	height: 1em;
	border-radius: 50%;
	position: relative;
	text-indent: -9999em;
	-webkit-animation: load4 1.3s infinite linear;
	animation: load4 1.3s infinite linear;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
}

@keyframes load4 {
	0%,
	100% {
		box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
	}
	12.5% {
		box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
	}
	25% {
		box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
	}
	37.5% {
		box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
	}
	50% {
		box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
	}
	62.5% {
		box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
	}
	75% {
		box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
	}
	87.5% {
		box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
	}
}

div.jconfirm-buttons
	button
		margin-right 20px !important


div.widget-head a
	text-shadow 0px 0px 0px black !important
	color #fff !important
	
div.container
	width 95% !important
div.jconfirm-box-container
	width 90% !important
	margin-left 5% !important

div.sidebar
	width 15% !important


table.principal
	th.idCaracter,th.idAccion,th.idSubTipoDocumento,th.idVolante, th.idDocumentoTexto
		display none
	td#idCaracter,td#idAccion,td#idSubTipoDocumento,td#idVolante, td#idDocumentoTexto
		display none


div#principal
	h2
		text-align center
table.principal th
	background-color #428bca
	color #fff
	&:first-letter
		text-transform uppercase

form#Caracteres, form#Acciones, form#Volantes, form#DoctosTextos, form#confrontasJuridico, form#Ifa, form#CatDoctosTextos, form#DocumentosSiglas, form#documentosJur, form#Irac
	div
		padding 8px
		&.send
			display block
			margin-top 10px
			button
				margin-left 10px
			
		label
			display block
	div.Asunto, div.texto,div.observacion,div.textoIfa
		width 90%
		textarea
			width 68%
	div.textoIfa,div.firmas
		display block !important
		textarea
			width 90% !important
		select
			width: 50%
			height: 200px
	
div.datosAuditoria
	background-color #efefef


div.cke_textarea_inline
	border:1px solid #afafaf
	border-radius: 5px

div#cke_observacionUpdate
	z-index: 999999999 !important

div.pull-left span
	background-color #afafaf
	color white
	padding 3px
	text-align center
	border-radius 5px
div.uploadInput
	display: none